@charset "utf-8";

/* Set the default box-sizing to border-box, and force all children to inherit */
html {
    box-sizing: border-box;
    font: 125%/1.4 Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* STEP 12: Comment out all colored borders, and put a background-color on the below NAV element */
nav {
    /* border: 5px solid hotpink; */
    background-color: darkorange;
}
/* STEP 1: Outline elements to help with styling (NAV, UL, LI, and A) */
nav ul {
    /* border: 5px solid red; */
    /* STEP 2: Turn off list markers */
    list-style-type: none;
    /* STEP 3: Zero out padding on all UL elements in the NAV */
    padding: 0;
    /* STEP 13: Put a background-color on the UL elements to hide the text underneath - and a 5px solid black border */
    background-color: darkorange;
    border: 5px solid black;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
nav li {
    /* border: 5px solid orange; */
    /* STEP 4: Set the 1st-level LI element to render horizontally */
    display: inline-block;
    /* STEP 6: Set position of 1st-level LI to relative so 2nd-level ULs can be placed with respect to their parent LI */
    position: relative;
}
nav li ul {
    /* STEP 7: Set position of 2nd-level lists to 'absolute' */
    position: absolute;
    /* STEP 8: Hide the 2nd-level lists */
    left: -9999px;
    /* display: none; */
    /* visibility: hidden; */
    /* STEP 11: Set a consistent width on the 2nd-level UL (15em or so) */
    width: 15rem;
    /* STEP 15: Add a top colored border to the 2nd-level UL to make it look like it is part of the navigation bar */
    border-top: 5px solid darkorange;
}
/* STEP 5: Arrange the 2nd-level list items vertically again */
nav li li {
    display: block;
}
nav li a {
    display: block;
    /* STEP 10: Set anchors to function as full-width clickable bars with display: block */
    
}
/* STEP 9: Show the 2nd-level list (UL) when the parent LI is moused over (:hover) or it is in focus (:focus-within) - you will need to build a grouped selector */
nav li:hover ul,
nav li:focus-within ul {
    left: auto;
}

/* STEP 14: Style the hyperlinks using pseudoclasses - :link, :visited, :focus, :hover, :active (LVFHA) */
nav a {
    text-decoration: none;
    font-weight: bold;
    padding: 0.25em;
}
nav a:link {
    color: white;
}
nav a:visited {
    color: lightgrey;
}
nav a:focus {
    background-color: orangered;
    outline: none;
}
nav a:hover {
    background-color: white;
    color: black;
}
nav a:active {
    background-color: yellow;
    color: red;
}

main section h2 img {
    float: right;
}

/* Special thanks to Stephanie Eckles - https://moderncss.dev/css-only-accessible-dropdown-navigation-menu/ and also to Una Kravets at https://css-tricks.com/solved-with-css-dropdown-menus/ */